$rose-light: #c3979f;
$rose-dark:#af5a6f;
$rose-normal: #c38393;

$vintage-light: #ada8c7;
$vintage-normal: #494368;
$vintage-dark: #34304b;

$lilac-light: #b8b3e9;
$lilac-normal: #8981D9;
$lilac-dark: #4e47a1;

$purple-light: #a36695;
$purple-normal: #74446e;
$purple-dark: #4d2e46;

$pink-normal: #CE4760;
$pink-light: #DD7E8F;
$pink-dark: #91273A;

$blue-light: #9FB1BC;
$blue-normal: #66818f;
$blue-dark: #151E3F;

$sky-light: #7fbbdc;
$sky-normal: #62929e;
$sky-dark: #235e80;

$yellow-light: #ffce5c;
$yellow-normal: #ffba0a;
$yellow-dark: #e0a100;

$gray-light: #D3D0CB;
$gray-dark: #37342F;

$white-normal: #f4f9f4;
$white-dark: #f6f1d1;

$black-light: #bebebe;

$blue-silk: #162c46;
$vintage-silk: #241a14;